.contact-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    place-content: space-evenly;
    gap: 2rem;
    width: 100%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    min-width: 40%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    min-width: 40%;
}

h2 {
    text-align: center;
    margin: 0;
}

.contact-subtitle-container{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.contact-subtitle {
    text-align: center;
    margin: 0;
}

@media (max-width: 840px) {
 
  .contact-container {
    flex-direction: column;
    place-content: center;
  }

  .contact-form {
    width: 100%; 
  }
}