.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 9999;
    position: sticky;
}

.menu {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    list-style: none;
}

.menu li {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.menu li a {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0; 
    margin: 0;
    min-height: 48px;
    align-items: center;
}