.project-card-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
    place-content: space-evenly;
    padding: 2rem 0;
    width: 100%;
}

.project-card-image{
    min-width: 40%;
    height: 100%;
    place-content: center;
    padding-top: 0.5rem;
}

.project-card-image img{
    width: 100%;
    height: 100%;
}

.project-card-content{
    min-width: 40%;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    text-align: left;
}

.project-card-technologies{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.project-card-title{
    display: flex;
    place-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.project-card-title > *{
    text-decoration: none !important;
    display: flex;
    place-items: center;
    gap: 0.5rem;
}


@media (max-width: 840px) {
  .project-card-container {
        flex-direction: column;
        justify-content: center;
        align-content: "flex-start";
        padding: 1rem 0;
        width: 100%;
        gap: 0;
    }
    .project-card-content{
        gap: 0.5rem;
    }

    .project-card-image{
        width: 100%;
    }

    .project-card-title > *{
        place-content: center;
    }
}
@media (max-width: 440px){
    .project-card-title{
        flex-direction: column;
    }
}
