@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';


:root {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scrollbar-gutter: stable;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  
  /*background: #003733;*/
  /*background: linear-gradient(180deg, rgba(0, 55, 51, 1) 0%, rgba(0, 0, 0, 1) 100%);*/  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  padding: 2rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position:relative;
}

#glow-cursor {
  position: fixed;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 
    0 0 60px 30px #B0FFFF,
    0 0 100px 50px rgba(176, 255, 255, 1),
    0 0 160px 80px rgba(176, 255, 255, 0.5);
  opacity: 0.1;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  margin: 0; 
  padding: 0;
}

a {
  font-weight: 500;
  color: #B0FFFF;
  text-decoration: inherit;
}
a:hover {
  color: #FFFFFF;
}
/*
body {
  margin: 0;
  --darkness-opacity: 0.1;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 300vh;
  background: linear-gradient(180deg, rgba(0, 55, 51, var(--darkness-opacity)) 0%, rgba(0, 0, 0, var(--darkness-opacity)) 100%);
  background-size: 100% 300vh;
  background-repeat: no-repeat;
  transform: translateY(var(--bg-pos-y, 0%));
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: -1;
}*/

.content-container {
  display: flex;
  min-height: 70vh;
  width: 100%;
  justify-content: center;
  /*position: absolute !important;*/
  transform: translate3d(0, 0, 0);
  margin-top: 1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*@keyframes diveTransition {
  0% { 
    background-position: 0% var(--bg-start-pos);
  }
  100% { 
    background-position: 0% var(--bg-end-pos);
  }
}

.is-diving {
  animation: diveTransition 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards; 
}*/

@media (max-width: 840px) {
 
  .content-container {
    flex-direction: column;
    place-content: center;
    padding: 0;
  }

  #root{
    padding: 1rem;
  }
}
